/* @font-face {
  font-family: "ibm_3270_narrowmedium";
  src: url("./assets/fonts/3270_narrow_500-webfont.woff2") format("woff2"),
    url("./assets/fonts/3270_narrow_500-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  background: #131313;
  color: #f5f5f5;
  min-height: 100vh;
  min-width: 100%;
}

.test {
  min-height: 100vh;
  min-width: 100%;
}

#light .test {
  min-height: 100vh;
  min-width: 100%;
  background-color: #f5f5f5;
  color: #000;
}

.wrapper {
  margin: auto;
  background-color: transparent;
  scroll-behavior: smooth;
}

.header {
  width: 85%;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background: rgba(45, 45, 45, 0.226);
  backdrop-filter: saturate(180%) blur(8px);
  border-radius: 10px;
  transition: 0.3s ease;
  box-shadow: 0px 0px 12px 2px #f5f5f5;
}

.navlink {
  margin-left: 70px;
  /* font-size: large; */
  text-decoration: none;
  color: #f5f5f5;
}

.navlink8 {
  margin-left: 70px;
  margin-right: 70px;
  /* font-size: large; */
  text-decoration: none;
  color: #f5f5f5;
}

.navlink2 {
  /* font-size: large; */
  text-decoration: none;
  color: #f5f5f5;
}

.navlink:visited {
  margin-left: 70px;
  /* font-size: large; */
  text-decoration: none;
  color: #f5f5f5;
}

.navlink:hover {
  color: #5cede5;
  cursor: pointer;
}

.navlink2:visited {
  margin-left: 70px;
  /* font-size: large; */
  text-decoration: none;
  color: #f5f5f5;
}

.navlink2:hover {
  color: #5cede5;
  cursor: pointer;
}
.navlink8:visited {
  margin-left: 70px;
  /* font-size: large; */
  text-decoration: none;
  color: #f5f5f5;
}

.navlink8:hover {
  color: #5cede5;
  cursor: pointer;
}

.iconos {
  --fa-animation-duration: 2s;
}

.iconos:hover {
  color: #5cede5;
  cursor: pointer;
  --fa-animation-duration: 2s;
}

.scroller {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.iconos-up {
  cursor: pointer;
  margin-top: 50px;
  text-align: end;
}

.iconos-up:hover {
  color: #5cede5;
  cursor: pointer;
}

.moon {
  margin-left: 70px;
}

.moon:hover {
  color: #5cede5;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.lglg {
  text-align: center;
  background: rgba(45, 45, 45, 0.226);
  backdrop-filter: saturate(180%) blur(8px);
  border-radius: 10px;
  transition: 0.4s ease-out;
}

.lglg:hover {
  text-align: center;
  background: rgba(45, 45, 45, 0.226);
  backdrop-filter: saturate(180%) blur(8px);
  border-radius: 10px;
  transform: translateY(-5px);
  transition: 0.4s ease-out;
  box-shadow: 0px 0px 8px 2px #f5f5f5;
}

.fslogo {
  height: 400px;
  width: 500px;
}

.typewriter {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.typewriter-land {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  min-height: 60px;
}

.type {
  font-size: 50px;
}

.type-cursor {
  font-size: 50px;
  display: none;
}

.socialscroll {
  height: 30px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  padding-bottom: 30px;
}

.socialscroll2 {
  height: 30px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  padding-bottom: 30px;
}

.socials {
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
  background: rgba(45, 45, 45, 0.226);
  backdrop-filter: saturate(180%) blur(8px);
  border-radius: 10px;
  transition: 0.3s ease;
  box-shadow: 0px 0px 12px 2px #f5f5f5;
}

.socials-ct {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.scroll {
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;

  background: rgba(45, 45, 45, 0.226);
  backdrop-filter: saturate(180%) blur(8px);
  transition: 0.3s ease;
  box-shadow: 0px 0px 12px 2px #f5f5f5;
}

.text-vert {
  font-size: large;
}

.typewriter2 {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
}

.typewriter4 {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.type2 {
  font-size: 25px;
  display: flex;
  text-align: justify;
}

.type-cursor2 {
  display: none;
}

#servy {
  margin-bottom: 100px;
}

#tivy {
  margin-bottom: 100px;
}

#searchy {
  margin-bottom: 100px;
}

#tooly {
  margin-bottom: 100px;
}

.values {
  margin-top: 100px;
  background-color: #000;
  border-radius: 10px;
}

.values88 {
  margin-top: 100px;
  background-color: transparent;
  border-radius: 10px;
}

.values55 {
  margin-top: 100px;
  width: 90%;
  margin: auto;
  background-color: #000;
  border-radius: 10px;
}

.values77 {
  margin-top: 100px;
  height: 400px;
  width: 90%;
  margin: auto;
  padding: 50px;
  background-color: #000;
  border-radius: 10px;
}

.values3 {
  border: 2px solid gray;
  border-radius: 10px;
  width: 85%;
  min-height: 335px;
  margin: auto;
  background-color: #000;
}

.title-box {
  position: relative;
  top: -0.5em;
  margin-left: 1em;
  display: inline;
  background-color: #000;
  /* font-size: larger; */
  border-radius: 10px;
}

.valuesh1 {
  text-align: center;
  font-size: xx-large;
  font-weight: normal;
  margin-bottom: 60px;
}

.caroo-title {
  text-align: center;
  font-size: xx-large;
  font-weight: normal;
}

#dele {
  margin-bottom: 80px;
  text-align: center;
  font-size: xx-large;
  font-weight: normal;
}

.dbcard {
  box-shadow: 0px 0px 8px 0px #f5f5f5;
  transition: 0.4s ease-out;
}

.dbcard:hover {
  transform: translateY(-5px);
  transition: 0.4s ease-out;
  box-shadow: 0px 0px 20px 2px #f5f5f5;
}

.hoverjawn {
  box-shadow: 0px 0px 8px 0px #f5f5f5;
}

.hoverjawn:hover {
  transition: 0.3s ease;
  box-shadow: 0px 0px 12px 2px #f5f5f5;
}

.container1 {
  height: 420px;
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  height: 320px;
  width: 350px;
  background-color: #171b20;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card p {
  color: #949494;
  position: absolute;
  left: 20px;
  top: 35px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover p {
  color: #f5f5f5;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: #f5f5f5;
  font-weight: 300;
  /* font-size: x-large; */
  position: absolute;
  left: 20px;
  top: 40px;
}

.bar {
  position: absolute;
  margin: auto;
  top: 100px;
  height: 5px;
  width: 90%;
}

.emptybar {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background-color: #5cede5;
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}

.dashb {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.container2 {
  width: 90%;
  position: relative;
  margin: auto;
  margin-top: -70px;
  display: flex;
  justify-content: space-between;
}

.container2 .card2 {
  position: relative;
  cursor: pointer;
}

.container2 .card2 .face {
  width: 300px;
  height: 200px;
  border-radius: 10px;

  transition: 0.5s;
}

.container2 .card2 .face.face1 {
  position: relative;
  background: #171b20;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container2 .card2:hover .face.face1 {
  background: #000;
  transform: translateY(0);
}

.container2 .card2 .face.face1 .content {
  opacity: 0.2;
}

.container2 .card2:hover .face.face1 .content {
  opacity: 1;
}

.container2 .card2 .face.face1 .content img {
  max-width: 100px;
}

.container2 .card2 .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #f5f5f5;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
}

.container2 .card2 .face.face2 {
  position: relative;
  background: #171b20;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container2 .card2:hover .face.face2 {
  transform: translateY(0);
}

.container2 .card2 .face.face2 .content2 {
  display: flex;
  flex-direction: column;
}

.container2 .card2 .face.face2 .content2 p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
}

.container2 .card2 .face.face2 .content2 a {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  padding: 5px;
  color: #f5f5f5;
  background: #000;
  border: 2px solid #000;
}

.container2 .card2 .face.face2 .content2 a:hover {
  background: #000;
  color: #f5f5f5;
}

.TimelineIndicator_container {
  color: rgb(141, 141, 141);
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-right: 35px;
  gap: 10px;
}

.active {
  color: #5cede5;
}

.carooo {
  padding: 20px;
}

.dgholder {
  display: flex;
  justify-content: center;
}

.services {
  height: 70%;
  width: 70%;
  border: 2px solid black;
  border-radius: 15px;
}

.foot {
  margin-top: -50px;
}

.breaker {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 5%;
}

.breaker2 {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 100px;
}

#home {
  height: fit-content;
  margin-bottom: 5%;
  padding-bottom: 100px;
  background-image: url("./logos/fsbw33.png");
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

#about {
  height: fit-content;
  width: 85%;
  margin: auto;
  scroll-snap-align: start;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about3 {
  height: fit-content;
  width: 100%;
  margin: auto;
  scroll-snap-align: start;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about2 {
  height: fit-content;
  width: 100%;
  margin: auto;
  scroll-snap-align: start;
  background-color: #000;
  padding-top: 100px;
  padding-bottom: 100px;
}

#research {
  height: fit-content;
  width: 100%;
  margin: auto;
  scroll-snap-align: start;
  background-color: #000;
  padding-top: 100px;
  padding-bottom: 100px;
}

#dashboards {
  height: fit-content;
  width: 85%;
  margin: auto;
  scroll-snap-align: start;
  padding-top: 100px;
  padding-bottom: 100px;
}

#delegate {
  height: fit-content;
  width: 100%;
  margin: auto;
  margin-bottom: 5%;
  scroll-snap-align: start;
  background-color: #000;
  padding-top: 100px;
  padding-bottom: 100px;
}

#contact {
  height: fit-content;
  width: 85%;
  margin: auto;
  scroll-snap-align: start;
}

#ct {
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;
  font-size: xx-large;
  font-weight: normal;
}

.contact-main {
  margin-top: 60px;
  width: 90%;
  height: 430px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 2px #f5f5f5;
}

.contact-logo {
  width: 45%;
  text-align: center;
}

.contact-form {
  width: 45%;
}

form {
  max-width: 400px;
  margin: 50px auto;
}

.feedback-input {
  color: #f5f5f5;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #949494;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #5cede5;
}

textarea {
  height: 135px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: #5cede5;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  /* color: #fff; */
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #45cec7;
}

.ct-logo {
  height: 81%;
  margin: auto;
}

.bigletters {
  font-size: 55px;
  text-align: center;
  margin-bottom: 5%;
}

.toggler {
  width: fit-content;
  margin: auto;
}

.service {
  height: 80px;
  width: 200px;
  border: 2px solid #5cede5;
  display: flex;
  border-radius: 10px;
  transition: 0.4s ease-out;
}

.service:hover {
  height: 80px;
  width: 200px;
  border: 2px solid #5cede5;
  display: flex;
  border-radius: 10px;
  transition: 0.3s;
  transform: translateY(-5px);
  transition: 0.4s ease-out;
  box-shadow: 0px 0px 8px 2px #f5f5f5;
  color: #5cede5;
}

.top-service {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.top-service2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.bot-service {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bot-service2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 50px;
}

.iconhouse {
  padding: 10px;
}

.service-title {
  margin-left: -10px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: small;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.shadow {
  margin-top: 100px;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  filter: drop-shadow(5px 5px 155px #fff) drop-shadow(-10px -10px 50px #fff);
  opacity: 0.8;
}

.triangle-wrapper {
  width: 20vw;
  height: 20vh;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
  animation: pulsate-fwd 2s ease-in-out infinite both;
}

.triangle {
  width: 15vw;
  height: 15vh;
  background-color: black;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  margin-top: -10px;
  filter: blur(70px) drop-shadow(-10px -10px 75px #fff);
}

.plogos {
  width: 211px;
  height: 41px;
  transition: 0.4s ease-out;
}

.plogos:hover {
  width: 211px;
  height: 41px;
  cursor: pointer;
  transition: 0.4s ease-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.alogos {
  width: 145px;
  height: 41px;
  transition: 0.4s ease-out;
}

.alogos:hover {
  width: 145px;
  height: 41px;
  cursor: pointer;
  transition: 0.4s ease-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.triple {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.big-numbers {
  width: 250px;
  max-width: 250px;
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.big-numbers h1 {
  color: #5cede5;
  font-size: 80px;
  margin-left: 20px;
}

.big-numbers h2 {
  margin-top: 10px;
}

.inumbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconos4 {
  margin-top: 10px;
}
