* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: radial-gradient(circle at 33.1% 2.8%, #383838 0%, #000000 99.4%);
  color: #fff;
  min-height: 100vh;
  min-width: 100%;
}

.wrapper {
  width: 85%;
  margin: auto;
  padding: 30px;
  background-color: transparent;
  border: 2px solid red;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.nav-main {
  display: flex;
  justify-content: space-between;
}

.nav-main a {
  margin-left: 70px;
  font-size: small;
  text-decoration: none;
  color: #fff;
}

.nav-main a:visited {
  margin-left: 70px;
  font-size: small;
  text-decoration: none;
  color: #fff;
}

.moon {
  margin-left: 70px;
}

/* .landing-main {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
} */

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.fslogo {
  height: 400px;
  width: 400px;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  transition: 0.3s ease;
  transform: translateZ(40px) scale(0.8);
}

.fslogo:hover {
  height: 400px;
  width: 400px;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: 0.3s ease;
  transform: translateZ(40px) scale(0.8);
}

.typewriter {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.type {
  font-size: 50px;
  /* font-weight: 500; */
}

.type-cursor {
  font-size: 50px;
  display: none;
}

/* .logobox {
  height: 400px;
  width: 400px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 112, 112);
  backdrop-filter: saturate(180%) blur(88px);

  transform: rotateX(1.5deg) rotateZ(1.5deg);
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 1px transparent, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
}

.logobox:hover {
  height: 400px;
  width: 400px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, -11px, 0px) rotateX(1.5deg) rotateZ(1.5deg);
  box-shadow: 1px 1px 0 1px transparent, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

.biglogo {
  height: 100px;
  width: 300px;
} */

.socialscroll {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border: 2px solid red;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 10px;
}

.text-vert {
  writing-mode: vertical-rl;
  font-size: small;
}

.intro {
  margin-top: 300px;
  min-height: 800px;
  border: 2px solid red;
}

.typewriter2 {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.type2 {
  font-size: 25px;
  display: flex;
  text-align: center; /* font-weight: 500; */
}

.type-cursor2 {
  display: none;
}

.values {
  margin-top: 100px;
}

.values h1 {
  text-align: center;
  font-size: xx-large;
}

.value-cards {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.card {
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 0.5px solid transparent;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 0px #ffffff;
}

.card:hover {
  height: 250px;
  width: 300px;
  border: 0.5px solid transparent;
  border-radius: 15px;
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px 2px #ffffff;
}

.card:hover h3 {
  color: aqua;
}

.card-top {
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-top h3 {
  font-size: 25px;
  font-weight: normal;
}

.card-bottom {
  text-align: center;
  padding: 25px;
  height: 45%;
  background-color: #171b20;
  color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
